 @font-face{
  font-family: mexican;
  src : url("fonts/mexican.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'mexican', Arial, Helvetica, sans-serif;
}

button{
  position: relative;
  background: greenyellow;
  top: 100px;
  padding: 5px 20px;
  border: none;
  border-radius: 25px;
}
button:hover{
  background-color: rgb(231, 134, 7);
}


canvas {
    display: block;
}
/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }
}

/* Smartphones ----------- */
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}


