body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


canvas {
    background: black;
    display: block;
}
/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }
}

/* Smartphones ----------- */
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}


#pos-char{
        position: fixed;
        top: 15px;
        left: 300px;
        color: rgb(247, 13, 5);
        z-index: 999;
        font-size: 24px;
        font-family: monospace;
        font-weight: 900;
}