body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button{
  position: relative;
  background: greenyellow;
  top: 100px;
  padding: 5px 20px;
  border: none;
  border-radius: 25px;
}
button:hover{
  background-color: rgb(231, 134, 7);
}

#pos-char{
        position: fixed;
        top: 45px;
        left: 300px;
        color: rgb(247, 13, 5);
        z-index: 999;
        font-size: 24px;
        font-family: monospace;
        font-weight: 900;
}

canvas {
    background: black;
    display: block;
}
/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }
}

/* Smartphones ----------- */
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}


