#cutscene-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

#cutscene-container video {
    width: 90vw;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 0 40px black;
}

@media (max-width: 600px) {
    #cutscene-container video {
        width: 98vw;
        border-radius: 10px;
    }
}

.cutscene-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    max-width: 90%;
    font-size: 38px;
    font-family: 'mexican';
    color: rgb(230, 188, 4);
    text-shadow: 2px 2px 10px black;
    opacity: 0;
    display: none;
    transition: opacity 1.5s ease;
    z-index: 99999999;
}

.cutscene-img img {
    width: 70vw;
    max-width: 600px;
}

#loseText {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    pointer-events: auto;
}

#loseText img {
    width: 70vw;
    max-width: 600px;
}

.hidden {
    display: none !important;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-base {
    margin-top: 20px;
    padding: 12px 28px;

    font-size: 22px;
    font-family: 'mexican';
    color: rgb(10, 10, 10);

    background: #ffc100;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 15px black;
}

.btn-base:hover {
    background: rgb(230, 188, 4);
    transform: scale(1.05);
    box-shadow: 0 0 25px black;
}

.btn-base:active {
    transform: scale(0.95);
}

#videoEndMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 1 !important;
    z-index: 999999999;
    pointer-events: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ============================================================== */
@media (max-width: 600px) {
    .cutscene-text {
        font-size: 26px;
        color: orangered;
    }

    .cutscene-img img {
        width: 90vw;
    }
}