/* =====================MEDIAQUERIES STYLE.CSS======================== */

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    .impressum-link a {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    canvas {
        border: none;
    }
}
@media (max-width: 1000px) {
  body.game-started .hud-bottom-left,
  body.game-started .hud-bottom-right {
    display: flex;
    flex-direction: column;
  }
}





@media (max-width: 760px) {

    .hud-move-btn,
    .hud-action-btn {
        width: 55px;
        height: 55px;
    }

    .hud-bottom-left {
        left: 20px;
        bottom: 20px;
    }

    .hud-bottom-right {
        right: 20px;
        bottom: 20px;
    }
}

@media (min-width: 480px) and (max-width: 760px) and (hover: none) and (pointer: coarse) {

    .game-started .hud-bottom-left,
    .game-started .hud-bottom-right {
        display: flex;
    }
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
    #rotate-overlay {
        display: flex;
    }

    #fullscreen,
    #start-screen,
    #game-hud {
        pointer-events: none;
        filter: blur(3px);
    }
}

@media (min-width: 480px) and (max-width: 1400px) and (hover: none) and (pointer: coarse) {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #game-container {
        width: 100vw;
        height: 100vh;
    }

    #fullscreen {
        width: 100%;
        height: 100%;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .game-started .hud-bottom-left,
    .game-started .hud-bottom-right {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 780px) {
    .impressum-link {
        font-size: 12px;
    }
}

/* ===========MEDIAQUERIES CUTSCENE.CSS====================== */

@media (max-width: 600px) {
    #cutscene-container video {
        width: 98vw;
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    .cutscene-text {
        font-size: 26px;
        color: orangered;
    }

    .cutscene-img img {
        width: 90vw;
    }
}

/* ============MEDIAQUERIES START-MEUE.CSS======================= */

@media (max-width: 480px) {
    .start-btn {
        font-size: 20px;
        padding: 10px 22px;
        bottom: 10%;
    }

    .settings-btn {
        width: 50px;
        height: 50px;
    }

    .keyboard-info {
        font-size: 16px;
        padding: 18px 20px;
    }

    .instruction-row img {
        width: 30px;
        height: 30px;
    }
}